@model IEnumerable<FindPet.Core.Post>

@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Found Pets";
}

<h3>Знайдені улюбленці</h3>

<p style = "display: flex; justify-content:flex-end">
    <a class="btn btn-primary" asp-action="Create"><i class="bi bi-plus-circle"></i>&nbspДодати оголошення</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Статус</th>
            <th>Опис</th>
            <th>Місцезнаходження</th>
            <th>Хто знайшов</th>
            <th>Фото</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td>
                <img src="@("~/Photos/"+item.Photo)" asp-append-version="true" width="100px" height="100px"/>
            </td>
            <td>
                <td>
                @if (SignInManager.IsSignedIn(User) && item.Username == User.Identity.Name.ToString())
                {                    
                    <a asp-action="Edit" asp-route-id="@item.Id" data-toggle="tooltip" data-placement="top" title="Edit" style="color:green"><i class="bi bi-pen"></i></a>
                    <a asp-action="Delete" asp-route-id="@item.Id" data-toggle="tooltip" data-placement="top" title="Delete" style="color:red"><i class="bi bi-trash"></i></a> 
                }                
                <a asp-action="Details" asp-route-id="@item.Id" data-toggle="tooltip" data-placement="top" title="Details" style="color:blue"><i class="bi bi-chat-left-text"></i></a>                  
            </td>              
            </td> 
        </tr>
}
    </tbody>
</table>

